:root {
	--lldlWhite: rgba(245,245,245,1);
	--lldlWhiteTrans: rgba(245,245,245,0.5);
	--lldlRed: rgba(172,49,78,1);
	--lldlDarkRed: rgba(75,20,30,1);
	--lldlDarkRedish: rgba(71,22,49,1);
	--lldlBlack: rgba(0,0,0,1);
	--lldlDarkGray: rgba(26,26,26,1);
	
	--lldsGradPen: 		linear-gradient(to top, rgba(3,215,175,0.5), rgba(255,0,0,0.5));
	--lldsPen:			rgba(0,120,105,1);
	--lldsGradAnal: 	linear-gradient(to top, rgba(0,161,161,0.5), rgba(142,105,21,0.5));
	--lldsAnal: 		rgba(0,102,102,1);
	--lldsGradMbate: 	linear-gradient(to top, rgba(0,52,25,1) , rgba(116,255,109,0.25));
	--lldsMbate: 		rgba(0,52,25,1);
	--lldsGradFinger: 	linear-gradient(to top, rgba(137,5,142,0.5), rgba(255,255,255,0.5));
	--lldsFinger: 		rgba(137,5,142,1);
	--lldsGradOral: 	linear-gradient(to top, rgba(72,0,0,0.5), rgba(80,103,255,0.5));
	--lldsOral: 		rgba(72,0,0,1);
	
	--mainFont: "Quicksand";
}
html {background-color: var(--lldlWhite);}
html, body {
	font-family: var(--mainFont);
	padding:0;
	margin:0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.html-lldlPartner, .html-lldlSexPos {
	background-image: url("../images/LLDL_BackgroundPink.svg");
	background-color: var(--lldlDarkGray);
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 50%;
	position: relative;
}
.html-lldlSexPos {
	background-color: var(--lldlDarkRed);
}

/* --------------------- */
/* --- Content Table --- */
/* --------------------- */
.contentTable {
	width: 90%;
	padding: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.contentTable li {
	list-style-type: none;
}















/* ---------------------- */
/* --- Question Cards --- */
/* ---------------------- */
.content-cards, .content-cards .cardsArea, .cardLayout {
	position: relative;
}
.content-cards .cards {
	position: relative;
	display: block;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: var(--lldlRed);
	width: calc(45vw);
	height:100%;
	border-radius: 50px;
	border: 10px solid var(--lldlRed);
}
ul.cardLayout {padding:0;}
ul.cardLayout li {padding:25px;}
.content-cards .card-img-logo {
	width: 200px;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}
.content-cards .cards .cardTextArea{
	background-color: var(--lldlWhite);
	padding: 25px;
	widht: 100%;
	font-size: 32px;
	border-radius: 50px;
	position: relative;
}
.tn-switchDark {}
.tn-switchDark:before {
	content: "\f186";
	font-family: "Font Awesome 5 Pro";
	font-size: 32px;
}


/* ---------------------- */
/* --- Shuffle Button --- */
/* ---------------------- */
.question-btn-wrapper, .partner-question-btn-wrapper, .btn-card {
	transition: all 0.2s;
    z-index: 100;
    display: block;
    bottom: 200px;
    font-size: 48px;
    background-color: var(--lldlWhite);
    width: 100%;
    text-align: center;
	cursor: pointer;
	border-radius: 50px;
    padding: 10px 0;
}
.question-btn-wrapper:hover, .partner-question-btn-wrapper:hover, .btn-card:hover {
	color: var(--lldlRed);
}
.sexpos-enlarge-image {
	margin-top: 15px;
}
.btn-hidden {display:none;}


/* ------------------- */
/* --- Joker Cards --- */
/* ------------------- */
span.cardJoker b { color: var(--lldlRed); }
span.cardJoker { font-style: italic; }





/* ------------------- */
/* ---- Sex Cards ---- */
/* ------------------- */
.pos-card {
	position: relative;
	width: 100%;
	color: var(--lldlDarkRed);
	font-size: 22px;
}
.pos-card-list, .pos-description, .pos-card-list li, .pos-description li {
	list-style-type: none;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}
.pos-card-list li.pos-title {
	font-size: 1.5em;
	font-weight: 600;
	color: var(--lldlDarkRed);
	padding: 5px 0 !important;
}
.pos-card .pos-img { width: 100%; }
.body-lldlSexPos .content-cards .cards .cardTextArea {
	background-color: var(--lldlDarkRedish);
}
.body-lldlSexPos .content-cards .cards .cardTextArea * {
	color: var(--lldlWhite);
}
.pos-card .pos-img {
	margin: 5px 0;
}
.img-enlarge .pos-img {
	transform: scale(200%);
}
.img-shrink .pos-img {
	transform: scale(100%);
}

/*---------------------------*/
/* Different Types Indicator */
/*---------------------------*/
.pos-card {
    border-radius: 25px;
    padding: 25px 0;
    /*box-shadow: inset 0 0 10px var(--lldlWhiteTrans);*/
}
.pos-card:before {
	content: 'Type';
	padding: 25px;
	font-size: 32px;
	font-weight: 800;
	background-color: var(--lldlWhiteTrans);
	border-radius: 25px 0 25px 0;
}

/* Penetration */
.-pen { background-image: var(--lldsGradPen); }
.-pen:before {
	content: 'Penetration';
	color: var(--lldsPen);
}

/* Anal */
.-anal { background-image: var(--lldsGradAnal); }
.-anal:before {
	content: 'Anal';
	color: var(--lldsAnal);
}

/* Masturbation */
.-mbate { background-image: var(--lldsGradMbate); }
.-mbate:before {
	content: 'Masturbation';
	color: var(--lldsMbate);
}

/* Fingering */
.-finger { background-image: var(--lldsGradFinger); }
.-finger:before {
	content: 'Fingering';
	color: var(--lldsFinger);
}

/* Oral */
.-oral { background-image: var(--lldsGradOral); }
.-oral:before {
	content: 'Oral';
	color: var(--lldsOral);
}










/* ---------------------- */
/* --- Mobile Devices --- */
/* ---------------------- */
@media only screen and (max-device-width: 1440px) and (max-width: 1440px) {
	.content-cards .cards {width: calc(65vw);}
}
@media only screen and (max-device-width: 1200px) and (max-width: 1200px) {
	.content-cards .cards {width: calc(80vw);}
}
@media only screen and (max-device-width: 800px) and (max-width: 800px) {
	.content-cards .cards {width: calc(90vw);}
}
/* Mobile Large Screen */
@media only screen and (min-height: 2000px) and (max-height: 2560px) {
	.content-cards .cards {width: calc(90vw);height:100%;}
}
/* PC Browser Media */
@media only screen and (max-width: 1920px) {
	.content-cards .cards {width: calc(75vw);}
	.pos-card .pos-img {width: 100%;}
}
@media only screen and (max-width: 1200px) {
	.content-cards .cards {width: calc(95vw);}
	.btn-card, .cardText {font-size:24px;}
	.card-img-logo {max-height:150px;width:auto;}
}
@media only screen and (max-width: 800px) {
	.content-cards .cards {width: calc(95vw);}
}